@import "./mixins";

%Container1 {
  .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: RGB(240, 240, 242);
    overflow: hidden;
    
    article {
      // margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      max-width: 1000px;
      @include breakpoint(600px){
        margin: auto;
        // max-width: 600px;
      }

      >.title {
        display: flex;
        justify-content: center;
        max-width: 900px;
        align-items: center;
        font-size: 70px;
        font-style: initial;
        color: rgb(11, 28, 57);
        font-weight: 600;
        box-sizing: border-box;
       
        margin: 10px 0px 10px 100px;
        @include breakpoint(600px){
          font-size: 40px;
          max-width: 600px;
        }
        // margin-top: 30%;
      }

      >.subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        margin: 30px 100px;
        margin-left: 100px;
        @include breakpoint(600px){
          margin: auto;
          // max-width: 600px;
        }
       


      }

      >.button {
        height: 50px;
        width: 150px;
        background-color: #4a4a4b;
        color: #fdfbfb;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
        margin: 40px 100px;
        @include breakpoint(600px){
          margin: auto;
          // max-width: 600px;
        }
      }

      >.button:hover {
        background-color: red;
      }
    }

    >div {
      justify-self: center;

      >img {

        width: 300px;

        @include breakpoint(600px){
          display: none;
        }
        &:hover{
          transform: scale(1.05);
          transition: all 1s;

        }
         
        }

       
      }
    }
  }
