@import "./mixins";

%Container9 {
    .Container9 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 50%;
        height: auto;
        margin: 100PX;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: center;

        @include breakpoint(996px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint(843px) {
            // width: 100%;
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(554px) {
            // width: 100%;
            grid-template-columns: repeat(1, 1fr);
        }

        footer {
            // display: flex;
            // align-items: center;
            // justify-content: center;

            gap: 50px;
        }

         h4 {
            font-weight:600;
            font-size: 22px;
        }

        a {
            display: block;
            text-decoration: none;
            color: rgb(150, 146, 146);
            line-height: 40px;
            transition: all 0.5s;

            &:hover {
                color: red;
                transform: translate(5px, 0px);

            }
        }

        p {
            color: rgb(114, 108, 108);
            margin-top: 30px;
            line-height: 30px;
            gap: 40px;
            width: 300px;
        }

        img {
            margin-top: auto;
        }


    }
}

.footer1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include breakpoint(760px) {
        grid-template-columns: repeat(1fr);
    }






    >p {
        margin-left: 60px;
        color: rgb(143, 140, 140);

        >span {
            color: red;
            cursor: pointer;
        }

    }

    >i {
        color: rgb(14, 12, 12);
        display: flex;

        justify-content: flex-end;
        @include breakpoint(760px) {
            grid-template-columns: repeat(4,1fr);
        }


        &:hover {
            color: red;
            rotate: 180deg;
            transform: translate(5px, 0px,0px,0px);
            transition: all 0.5s;
            cursor: pointer;


        }

    }
}