%Container7 {
    .Container7 {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 100vh;
        padding: 0px 0px 0px 100px;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        height: 800px;

        article {
            margin: auto;

            >.title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 50px;
                font-style: initial;
                color: rgb(11, 28, 57);
                font-weight: bolder;
                box-sizing: border-box;
                margin-left: -100px;
                margin-top: 30%;
            }

            >.subtitle {
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 30px;
                font-size: 18px;
                font-weight: normal;
                // margin-left: auto;
                margin-top: 5%;
                color: #535252;


            }

            >.btn {
                height: 60px;
                width: 200px;
                background-color: #ff0b0b;
                color: #fdfbfb;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: bold;
                margin: 0px;
                margin-top: 50px;

                &:hover {
                    background-color: #535252;
                }
            }
        }
    }
}